body{
  margin:0;
  padding:0;
  font-family: sans-serif;
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

#ananda-app {
  display:flex;
  flex-wrap:wrap;
  font-size:12pt;
}

#paper-container {
  flex:1 50vw;
  max-width:100vh;
  max-height:100vw;
  height:100vh;
}
#paper {
  width:100%;
  height:100%;
}

#infobox {
  flex:1 200px;
  max-width:600px;
  position:relative;
}

.nav-row {
  display:flex;
  flex:1 1 100%;
  align-items: center;
  color:#fff;
  padding:1em;
  background-color: #555;
}
.buttons {
  flex:1 1;
  display:flex;
}
.buttons button {
  margin:0 0.2em;
  padding:0.5em;
}
.group-row {
  padding:1em 1em 0.6em 1em;
  background-color: #aaa;
  font-size: 0.8em;
}
.info-row {
  background-color: #eee;
  display:flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom:1em;
  padding:1em;
  align-items: center;
}
.spacer {
  flex:10 1 10px;
}
.pic-title {
  padding:0.3em 0 0 0.5em;
  flex:1 1 100px;
}
.title h1 {
    padding-left:0.5em;
    font-size: 1.2em;
    font-weight: normal;
    overflow-wrap: anywhere;
}

h2.sans {
  margin:0;
  padding:0;
  font-size:1.8em;
  font-weight: normal;
}
h3.trans {
  font-size:1.2em;
  margin:-0.5em 0 0.5em 0;
  padding:0;
  color:#777;
  font-weight: normal;
}

.trans {
  text-transform: lowercase;
  text-align: center;
}
.number {
  align-self:baseline;
  right:1em;
  top:1em;
}
.tat-num {
  text-align: center;
}
.cycle {
  padding:2px;
  cursor: pointer;
}
.text {
  padding:1em;
  line-height:1.4em;
  max-height:60vh;
  overflow:scroll;
}
